<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    	<script type="text/javascript" src="{{ url_for('static',filename='scripts.js') }}"></script>
    </head>
    <body>
        <header class="cr-header nav-slide"> <!-- to be overlayed in a fixed position over app and flow-->
            <p class="header-text">caterator.me</p>
            <p class="header-text-second">Neural net to generate cats.</p>
            <p class="header-text-github hover-grow">GitHub</p>
        </header>
        
        <section class="app-area"> <!-- to be the device height, a scrollable page-->
            <div class="app-body">
                <div class="image-area">
                    
			<img src="{{ url_for('static',filename='sample-thumbnail.png') }}" alt="sample" height="116" width="116" class="gen-img"/>
			<img src="{{ url_for('static',filename='sample-thumbnail.png') }}" alt="sample" height="116" width="116" class="gen-img"/>
			<img src="{{ url_for('static',filename='sample-thumbnail.png') }}" alt="sample" height="116" width="116" class="gen-img"/>
			<img src="{{ url_for('static',filename='sample-thumbnail.png') }}" alt="sample" height="116" width="116" class="gen-img"/>
			<img src="{{ url_for('static',filename='sample-thumbnail.png') }}" alt="sample" height="116" width="116" class="gen-img"/>
			<img src="{{ url_for('static',filename='sample-thumbnail.png') }}" alt="sample" height="116" width="116" class="gen-img"/>
			<img src="{{ url_for('static',filename='sample-thumbnail.png') }}" alt="sample" height="116" width="116" class="gen-img"/>
			<img src="{{ url_for('static',filename='sample-thumbnail.png') }}" alt="sample" height="116" width="116" class="gen-img"/>
			<img src="{{ url_for('static',filename='sample-thumbnail.png') }}" alt="sample" height="116" width="116" class="gen-img"/>
			<img src="{{ url_for('static',filename='sample-thumbnail.png') }}" alt="sample" height="116" width="116" class="gen-img"/>
			<img src="{{ url_for('static',filename='sample-thumbnail.png') }}" alt="sample" height="116" width="116" class="gen-img"/>
			<img src="{{ url_for('static',filename='sample-thumbnail.png') }}" alt="sample" height="116" width="116" class="gen-img"/>
			<img src="{{ url_for('static',filename='sample-thumbnail.png') }}" alt="sample" height="116" width="116" class="gen-img"/>
			<img src="{{ url_for('static',filename='sample-thumbnail.png') }}" alt="sample" height="116" width="116" class="gen-img"/>
			<img src="{{ url_for('static',filename='sample-thumbnail.png') }}" alt="sample" height="116" width="116" class="gen-img"/>
			<img src="{{ url_for('static',filename='sample-thumbnail.png') }}" alt="sample" height="116" width="116" class="gen-img"/>
			<img src="{{ url_for('static',filename='sample-thumbnail.png') }}" alt="sample" height="116" width="116" class="gen-img"/>
			<img src="{{ url_for('static',filename='sample-thumbnail.png') }}" alt="sample" height="116" width="116" class="gen-img"/>
			<img src="{{ url_for('static',filename='sample-thumbnail.png') }}" alt="sample" height="116" width="116" class="gen-img"/>
                </div>
            </div>
            <div class="app-menu">
                <div class="button-set"> <!-- to be horizontal flex so we can easily add new buttons within this div-->
                    <button class="menu-button hover-grow" id="generate-button">Generate</button>
                    <button class="menu-button hover-grow" id="upload-button">Upload</button>
                    <button class="menu-button hover-grow" id="scroll-button" href="#flow">Scroll down</button>
		    <p class="menu-text"><span id="result">?</span></p>
                </div>
            </div>
        </section>
        
        <section class="flow-area" id="flow">
            <div class="flow-section" id="description">
                <p class="flow-title">Description</p>
                <p class="flow-text">
                    caterator.me is a neural net which is trained to produce images of cats using generative adversarial networks (GAN). Despite the abstract term, the principle is concrete: Network A is trained to recognize cats, while Network B is trained to create pictures that are recognized as cats. After enough training repetitions, Network A is "tricked" into thinking that the images produced by Network B are real-life photographs of cats. If the networks are well enough trained, it is likely that people will be tricked too.
                <br>
                Detailed explanation of the subject matter is found here.
                </p>
            </div>
            <div class="flow-section" id="instructions">
                <p class="flow-title">Instructions</p>
                <p class="flow-text">
                    To prouce an image, click on the "Generate" button and the image will be loaded in the center tray. You can see for yourself how real the cats look!
                </p>
            </div>            
            <div class="flow-section" id="example">
                <p class="flow-title">Other Examples</p>
                <p class="flow-text">
                    There have been numerous experiments on GAN, including faces and hotel bedrooms. Some of them come very close to resembling real images, however this is limited at higher resolutions.
                </p>
            </div>
        </section>
        
        <footer class="cr-footer">
            <p class="footer-text">2017 caterator.me, made by Sam, Gokul, and Robert</p>
            <p class="footer-text">Check out Torch on GitHub!</p>
        </footer>
    </body>
    
</html>
