html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.cr-header {
    position: fixed;
    background: #222222;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    /*height will be minimum i.e. it wraps to the label*/
    align-items: flex-end;
    padding: 4px 0px;
    border-bottom: #111111 1px solid;
    z-index: 1000;
}

.header-text {
    font-family: "Helvetica", sans-serif;
    font-size: 32px;
    line-height: 36px;
    color: #EED8FF;
    display: flex;
    margin: 0 8px;
}

.header-text-second {
    font-family: "Helvetica", sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #7E6B8C;
    display: flex;
    margin: 0 8px;
}

.header-text-github {
    font-family: "Helvetica", sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #efefef;
    display: flex;
    margin: 0 8px;
    float: right;
}

.app-area {
    padding: 44px 0px 0px 0px; /*padding functional - not to enhance display but to show any covered items*/
    background: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
}

.app-body {
    display: flex;
    flex: 1;
    padding: 0px 10%;
}

.image-area {
    margin: auto;
    padding: 0px;
    height: 50%; /*change this accordingly once decide how many 224*224px^2 images, this might just be an image box*/
    width: 800px;
    border: #002c71 2px solid;
    display: block;
    flex-wrap: wrap;
    align-items: top;
    overflow: auto;
    text-align: center;
}

.gen-img {
    margin: 2px;
}

.app-menu {
    display: flex;
    flex-direction: row;
    background: #e5e5e5;
    box-sizing: border-box;
    height: auto; /*undeclared flex so wraps*/
    padding: 8px 10%;
}

.button-set {
    display: flex;
    flex-direction: row;
}

.menu-button {
    background: none;
    border: #500079 2px solid;
    font-family: "Helevetica", sans-serif;
    color: #500079;
    font-size: 24px;
    line-height: 28px;
    margin: 0px 8px;
}

.menu-text {
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    display: flex;
    margin: 0 8px;
}

.flow-area {
    background: #f4f4f4;
    box-sizing: border-box;
    width: 100%;
}

.flow-section {
    padding: 40px 10%;
    box-sizing: border-box;
    min-height: 80vh;
}

#description {
    background: #99D1FF;
}

#instructions {
   background: #AD99FF;
}

#example {
   background: #99FFC4;
}

.flow-title {
    font-family: "Helvetica", sans-serif;
    font-size: 36px;
    line-height: 40px;
    color: #111111;
    text-decoration: underline;
    margin: 32px 0px;
}
.flow-text {
    font-family: "Helvetica", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #111111;
    margin: 16px 0px;
}

.cr-footer {
    background: #222222;
    box-sizing: border-box;
    padding: 0px 10%;
    height: 160px;
    border-bottom: #111111 1px solid;
}

.footer-text {
    font-family: "Helvetica", sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #efefef;
    padding: 8px 0px;
}

.hover-grow {
    transform: scale(1,1);
    transition: transform 0.2s ease 0.1s;
}

.hover-grow:hover {
    transform: scale(1.15, 1.15);
}
